@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
	position: relative;
	background-image: url("../images/bg.jpg");
	background-size: cover;
}
.container {
	width: 960px;
	margin: 0 auto;
}

.gameHeader {
	border-bottom: 1px solid grey;
	margin: 3% auto;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 1.9em;
	text-align: center;
	margin-right: 10%;
}

span {
	color: #A61B02;
	font-size: 1.2em;
	margin-left: 10%;
}

.gameArea {
	margin: auto;
	text-align: center;
}

.p1Column, .p2Column {
	margin-bottom: 5%;
	font-size: 1.1em;
	font-weight: 700;
	display: inline-block;
}

.p1Column {
	float: left;
}

.p2Column {
	float: right;
}

#canvas
{
	border: 2px solid pink;
}
